<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/admin.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">管理员后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{ userInfo.username }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#" class="link" id="logout">退出</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="/admin/users">用户列表</a>
          <li><a href="/category/list">分类管理</a>
          <li><a href="/article">文章列表</a>
          <li><a href="/admin/comments">评论管理</a>
          <li><a href="/resource">资源管理</a>
          <li><a href="/admin/site">站点管理</a>
          <li><a href="/admin/password">密码重置</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
      {% block header %}{% endblock %}
    </h1>
    {% block btn %}{% endblock %}
    {% block content %}{% endblock %}
    {% block list %}{% endblock %}
  </div>
  </body>
  <script src="/jquery/jquery-1.12.4.js"></script>
  <script src="/lib/js/bootstrap.min.js"></script>
  <script src="/js/admin.js"></script>
  {% block footer %}{% endblock %}
</html>
