<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/admin.css">
	{% block css %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:;">{{ site.name }}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<!-- <li class="active"><a href="/">首页</a></li> -->
				<!-- {% if category %}
					<li class="active"><a href="/">首页</a></li>
					{% for category in categories %}
						<li><a href="/list/{{ category._id.toString() }}">{{ category.name }}</a></li>
					{% endfor %}
					{% else %}
						<li class=""><a href="/">首页</a></li>
					{% for category in categories %}
						{% if category.id.toString() == category %}
						<li class="active"><a href="/list/{{ category._id.toString() }}">{{ category.name }}</a></li>
						{% else %}
						<li><a href="/list/{{ category._id.toString() }}">{{ category.name }}</a></li>
						{% endif %}
					{% endfor %}
				{% endif %} -->
				{% if category %}
				<li><a href="/">首页</a></li>
				{% else %}
				<li class="active"><a href="/">首页</a></li>
				{% endif %}

				{% for cate in categories %}
		        	{% if cate._id.toString() == category  %}
					<li class="active"><a href="/list/{{ cate._id.toString() }}">{{ cate.name }}</a></li>
					{% else %}
					<li><a href="/list/{{ cate._id.toString() }}">{{ cate.name }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}{% endblock %}
				</div>
				<div class="col-md-4  hidden-xs hidden-sm">
					{% if userInfo._id %}
						<div class="form-horizontal user-info"">
							<p class="col-sm-offset-2">
								欢迎：<span>{{ userInfo.username }}</span>
							</p>
							{% if userInfo.isAdmin %}
							<a href="/admin" class="link col-sm-offset-2"">进入管理中心</a>
							{% else %}
							<a href="/home" class="link col-sm-offset-2">进入用户中心</a>
							{% endif %}
							<a href="javascript:;" class="link col-sm-offset-2" id="logout">退出</a>
							<p class="err col-sm-offset-2 text-danger"></p>
						</div>
					{% else %}
						<div class="form-horizontal register" style="display: block;">
							<div class="form-group">
								<label for="register-username" class="col-sm-4 control-label">用户名</label>
								<div class="col-sm-6">
									<input type="email" class="form-control username" id="register-username" placeholder="请输入用户名">
								</div>
							</div>
							<div class="form-group">
								<label for="register-password" class="col-sm-4 control-label">密码</label>
								<div class="col-sm-6">
									<input type="password" class="form-control password" id="register-password" placeholder="请输入密码">
								</div>
							</div>
							<div class="form-group">
								<label for="repassword" class="col-sm-4 control-label">重复密码</label>
								<div class="col-sm-6">
									<input type="password" class="form-control repassword" id="repassword" placeholder="请重新输入密码">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-6">
									<button type="submit" class="btn btn-primary register-btn">提交</button>
								</div>
							</div>
							<div class="form-group change">
								<a href="jsvascript:;" class="link col-sm-offset-4 col-sm-6" id="login">已有账号？请登录</a>
							</div>
							<p class="err col-sm-offset-2 text-danger"></p>
						</div>
					{% endif %}
					<div class="form-horizontal login" style="display: none;">
						<div class="form-group">
							<label for="username" class="col-sm-4 control-label">用户名</label>
							<div class="col-sm-6">
								<input type="email" class="form-control username" id="username" placeholder="请输入用户名">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-4 control-label">密码</label>
							<div class="col-sm-6">
								<input type="password" class="form-control password" id="password" placeholder="请输入密码">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-6">
								<button type="submit" class="btn btn-primary sub-btn">提交</button>
							</div>
						</div>
						<div class="form-group change">
							<a href="jsvascript:;" class="link col-sm-offset-2 col-sm-4" id="register">免费注册</a>
							<a href="jsvascript:;" class="link col-sm-4" id="forget">忘记密码？</a>
						</div>
						<p class="err col-sm-offset-2 text-danger"></p>
					</div>
					{% for ad in site.ads %}
					<div class="ad">
						<a href="{{ ad.url }}" class="thumbnail" target="_blank">
							<img src="{{ ad.path }}" class="img-responsive" alt="Responsive image">
						</a>
					</div>
					{% endfor %}
					<div class="panel panel-default about-self">
						<div class="panel-heading" id="panel-heading">
							<h3 class="panel-title">博主介绍</h3>
						</div>
						<div class="panel-body">
							<div class="media">
								<div class="media-left">
									<a href="#" class="media-link">
										<img class="media-object self-img img-circle" src="{{ site.author.image }}" alt="me.jpg">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">{{ site.author.name }}</h4>
									<p>{{ site.author.intro }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" id="panel-heading">
							<h3 class="panel-title">点击排行</h3>
						</div>
						<div class="panel-body">
						<ul class="list-group">
							{% for article in topArticles %}
							<li class="list-group-item"><a href="/view/{{ article._id.toString() }}" class="link text-ellipsis">[{{ article.click }}]{{ article.title }}</a></li>
							{% endfor %}				  
						</ul>
					  </div>
					</div>
					<div class="panel panel-default focus">
						<div class="panel-heading" id="panel-heading">
							<div class="panel-heading">
						<h3 class="panel-title">关注我</h3>
						</div>
							<div class="panel-body">
								<img src="{{ site.author.wechat }}" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					
					<footer>
						<p class="col-sm-offset-6">
							Blog Design by <a href="#">Kuazhu</a> <a href="#">豫ICP备11002373号-1</a>.
						</p>
					</footer>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script src="/jquery/jquery-1.12.4.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/js/pagination.js"></script>
<script src="/js/index.js"></script>
</html>